// Text align values
$text-align-values: center, left, right, justify;

//margin and padding spacings
$spacing-sizes: 0rem, .25rem, .5rem, 1rem, 1.5rem, 3rem;
$spacing-types: (
    p: padding,
    m: margin
);

$directions: (
    t: top,
    r: right,
    b: bottom,
    l: left
);

//column and row 
$breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$col-gap: 10px;